.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.carros {
    width: 210px;
    height: 100px;
    margin: 10px;
    transition: 50ms;
} 

.container:hover > :not(:hover) {
    opacity: 0.3;
    scale: .9;
}